<html>
	<head>
		<meta charset="utf-8">
		<title>EASYCHAT</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/bootstra.386/v2.3.1/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="static/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="static/bootstra.386/v2.3.1/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="socket.io/socket.io.js"></script>
		<script type="text/javascript" src="static/chatclient.js"></script>
	</head>
	<body style="visibility: hidden">
		<br>
		<div class="row">
			<div class="offset1 span4">
				<h3>EASYCHAT</h3>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="span10 offset1">
				<form class="form-inline" onsubmit="return false;">
					<label class="control-label" for="nickname">Introduzca su apodo:</label>
					<input type="text" id="nickname" class="form-control">
					<button  type="button" id="join-chat" class="btn" style="margin-bottom: 0px">Ingresar</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="offset1">
				<textarea id="textarea" class="span12" style="cursor: auto" rows="20" disabled></textarea>
			</div>
		</div>
		<div class="row">
			<form class="form-inline offset1" onsubmit="return false;">
				<input type="text" id="message" class="span10 form-control chat-widget" autocomplete="off">
				<button type="submit" id="send-chat" class="btn chat-widget" style="margin-bottom: 0px">Enviar</button>
			</form>
		</div>
	</body>
</html>